.banner .carousel-indicators li .active{background-color: #000;}
.banner .carousel-control.left span.arrow_left {width: 70px; height: 70px; background: url(../imgs/left_arrow.png) center no-repeat; background-size: 70px 70px; position: absolute; top: 50%; margin-top: -35px;left: 90px; line-height: 70px; }
.banner .carousel-control.right span.arrow_right {width: 70px; height: 70px; background: url(../imgs/right_arrow.png) center no-repeat; background-size: 70px 70px; position: absolute; top: 50%; margin-top: -35px;right: 90px; line-height: 70px; }
.banner .carousel-indicators li {margin: 0 2px 0; width: 12px; height: 12px;}
@media (min-width:992px) and (max-width:1200px) {
.banner .carousel-control.left span.arrow_left {width: 50px; height: 50px; background-size: 50px 50px; margin-top: -25px;left: 90px; line-height: 50px; }
.banner .carousel-control.right span.arrow_right {width: 50px; height: 50px; background-size: 50px 50px; margin-top: -25px;right: 90px; line-height: 50px; }
}
@media (min-width:768px) and (max-width:991px) {  
.banner .carousel-control.left span.arrow_left {width: 40px; height: 40px; background-size: 40px 40px; margin-top: -20px;left: 90px; line-height: 40px; }
.banner .carousel-control.right span.arrow_right {width: 40px; height: 40px; background-size: 40px 40px;  margin-top: -20px;right: 90px; line-height: 40px; }
.banner .carousel-indicators li {width: 10px; height: 10px;}
}
@media (max-width:767px) {
.banner .carousel-control.left span.arrow_left,.banner .carousel-control.right span.arrow_right {display: none;}
.banner .carousel-indicators li {width: 8px; height: 8px;}
}
.back {
    position: fixed;
    bottom:4%;
    right: 5%;
    width: 100px;
    height: 30px;
    border: 1px solid #999;
    line-height: 30px;
    margin-top: 35px;
    text-align: center;
}
.back>a {
    color: #000;
    text-decoration:none
}
@media (min-width:992px) and (max-width:1200px) {
    .back {
        width: 90px;
        height: 25px;
        line-height: 25px; 
    }
    .back>a {
        font-size: 15px;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .back {
        width: 80px;
        height: 20px;
        line-height: 20px; 
    }
    .back>a {
        font-size: 14px;
    }
}
@media (max-width:767px) {
    .back {
        width: 60px;
        height: 20px;
        line-height: 20px; 
    }
    .back>a {
        font-size: 12px;
    }
}